.main-header {
    position: relative;
    width: auto;
    display: flex;
    /*gap: 2em;*/
    /*padding: 1rem;*/
    margin: 0;
    height: 55px;
    background-color: #ff6a00;
}


.menu-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a73e8;
    align-self: center;
    height: 40%;
    padding: 5px;
    margin-left: 5px;
}

.menu-button {
    align-self: center;
}

.menu-button span {
    display: block;
    width: 22px;
    height: 2px;
    background: #1818fd;
    margin: 3px 0;
    /*border-radius: 1px;*/
}

.menu-btn-container:hover span{background: rgb(248, 181, 58);}
.menu-btn-container:hover{background: #f6151152; cursor: pointer;}


.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.logo-container img {
    max-width: 200px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}


.main-header button:hover{background-color:#aba1f5}

.main-header button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #1a73e8;
    cursor: pointer;
}

.header_button {

}


@media (max-width: 600px) {
    .main-header {
        height: 10%;
        flex-direction: row;
        text-align: center;
    }

    .button-container {
        margin-top: 10px;
    }

    .logo-container img {
        width: 100%;
    }

    .menu-toggle {
        display: block; /* Show on smaller screens */
    }
}




/*------------------------------------------------Dropdown Menu --------------------------------------------------------*/
.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
}
  
.eventsearch-dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 238px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 10px 6px;
    text-decoration: none;
    display: block;
  }
  
  .eventsearch-dropdown a:hover {background-color: #ddd;}
  
  .show {
    display: block;
    background-color: #b2b2b2dc;}


.dropdown-content-display{
    display: flex; 
    flex-direction:column;
    align-content:flex-start; 
}

#VeranstaltungFilter{
    display:flex; 
    flex-direction:column;
}

